.faq
  background-color #e6e6e9
  height 100%
  overflow-y scroll
  
  h2
  h5
    text-align center
    
  > *:not(h2)
    margin 20px 10% 20px 10%
    font-size 1.1em
    font-family Helvetica, sans-serif
    line-height 30px

  > em
    padding 10px
    background-color #bfd4e8
    border-radius 10px
    display inline-block

    