.conversation
  background-color gray
  display flex
  display -webkit-flex
  flex-direction column
  flex-basis 75%
  min-width 0

.message-container
  background-color white
  overflow-y auto
  height 100%
  background-image url("container_background.jpeg")
  
  & > div:not(.Caption)
    margin 20px
    display flex

    & > div
      padding 10px
      font-size 15px
      word-wrap break-word
      
    & > div:first-child
      border-radius 10px
      max-width 60%
      letter-spacing 1px
      border 1px solid #dbdbdb
      
    & > div:last-child
      color black

.You
  justify-content flex-end
  -webkit-justify-content flex-end
  
  div:first-child
    background-color #f3f3f5
    
  div:last-child
    margin-left 2%
    
.Stranger
  div:first-child
    background-color #e0e6ed
    
  div:last-child
    margin-left 2%
    
.Caption
  user-select none
  -moz-user-select none
  text-align center
  background-color #bfd4e84d
  color #020838e6
  margin 20px
  padding 5px
  border-radius 10px
  font-size: 20px
    
  div
    width 100%
    display inline
    padding-right 5px
    
  i
    color #50758d
    font-size 15px
    background-color #ffffffad
    padding 5px
    border-radius 15px
