@import 'settings'
@import 'textfield'
@import 'message-container'
@import 'slider'
@import 'navbar'

html
body
#app
  margin 0
  height 100%
  
.main 
  height calc(100% - 80px)
  display flex
  
@media(max-width: 800px)
  .message-container > div
    margin-left 10px
    margin-right 0
    
  .settings
    display none
    & > button
      display block
    
  .conversation
    flex-basis 100%
  
  .navbar
    .open-settings-button
      display block 
      
@media(max-width: 500px)
  .textfield
    justify-content space-between
    textarea
      flex-basis 50%
      min-width 0
      
    .next-button
      flex-basis 15%
      
    .send-button
      flex-basis 15%
      
  .main 
    height calc(100% - 50px)
  
  .navbar
    height 50px
    
.opened-settings
  .settings
    display flex
    flex-basis 100%
    flex-direction column
    & > *
      margin 30px
    & > button
      height 50px
        
  .conversation
    display none
  




