@import 'settings'
@import 'textfield'
@import 'message-container'
@import 'slider'
@import 'navbar'

html
body
#app
  margin 0
  height 100%
  
i
  cursor pointer
  
.main 
  height calc(100% - 80px)
  display flex
  display -webkit-flex
  
@media(max-width: 800px)
  .message-container > div:not(.Caption)
    margin-left 10px
    margin-right 0
    
  .settings
    display none
    & > button
      display block
    
  .conversation
    flex-basis 100%
  
  .navbar
    i
      display block 
      
@media(max-width: 450px)
  .textfield
    justify-content space-between
    height 70px
    textarea
      min-width 0
      height 50px
    i
      font-size 50px

  .main 
    height calc(100% - 50px)
  
  .navbar
    height 50px
    i
      font-size 35px
    
.opened-settings
  .settings
    display flex
    flex-basis 100%
    flex-direction column
    & > div
      margin 30px
        
  .conversation
    display none
  


