@keyframes drop 
  0% 
    height 0
  100%
    height 210px
    
@keyframes advanced-opacity 
  0%
    opacity 0
  40% 
    opacity 0
  100%
    opacity 1


.settings
  background-color #50758d
  overflow-y auto
  min-width 250px
  flex-basis 25%
  font-size 1.2em
  font-family Arial, Helvetica, sans-serif
  color #020202e0
  
  label, input
    margin-bottom 5px
    
  .advanced 
    &:hover
      opacity 0.7
    cursor pointer
    border 2px solid #96dbfa
    display flex
    i
      font-size 22px
  
  .advanced-hidden
    display none
    
  .advanced-animate
    animation-name drop
    animation-duration 0.5s
    animation-timing-function linear
    div
      animation-name advanced-opacity 
      animation-duration 0.9s
      animation-timing-function linear

  & > div
    background-color #e6e6e9
    margin 10px
    padding 10px
    border-radius 5px
    
    & > label
      display block
    
    & > input
      cursor pointer
      margin-right 20px
      float left
      
    & > div:nth-child(8)
      margin 10px 0 10px 0
      
    & > div:nth-child(1)
      margin-bottom 10px
      
    &:first-child
      margin-top 0
      
    &:last-child
      > div
        margin 10px 0px
        padding 10px
        background-color #787a921a
        border-radius 10px