.textfield
  background-color #5560d833
  padding 10px
  display flex
  justify-content space-around
  
  textarea
    flex-basis 80%
    resize none
    font-size 15px
    line-height 1.5
    letter-spacing 1px
    border-radius 5px
    
  i
    font-size 60px
    color #e6e6e9
    &:hover
      color white
    &:last-child
      margin-left 15px