.message-container
  background-color white
  flex -moz-available
  overflow-y auto
  
  & > div
    padding px
    background-color #f3f3f5
    margin 10px
    
    & > div:nth-child(1)
      float left
      margin-left 2%
      margin-right 2%
