.message-container
  background-color white
  flex -moz-available
  overflow-y auto
  
  & > div
    padding px
    background-color #f3f3f5
    margin 10px
    
    & > div
      padding 10px
    
    & > div:nth-child(1)
      float left
      
    & > div:nth-child(3)
      background-color #e6e6e6
