@import 'settings'
@import 'textfield'
@import 'message-container'
@import 'slider'

html, body, #app
  height 100%
  
#app
  display flex

.conversation
  background-color gray
  display flex
  flex-direction column
  min-width 0
  
@media(max-width: 800px)
  .message-container > div
    margin-left 10px
    margin-right 0
    
  .settings
    display none
    & > button
      display block
    
  .conversation
    flex-basis 100% !important
    
  .open-settings
    display block
    float left
    
  .textfield
    display flex
    justify-content space-evenly
    
    button
      margin 0

    textarea
      width 60%
      margin 0 5% 0 5%
      
.opened-settings
  .settings
    display flex
    flex-basis 100%
    flex-direction column
    & > *
      margin 30px
    & > button
      height 50px
        
  .conversation
    display none
  




