@import 'settings'
@import 'textfield'
@import 'message-container'
@import 'slider'

html, body
  height 100%
  
body
  display flex

#conversation
  background-color gray
  flex-basis 75%
  display flex
  flex-direction column



