.settings
  background-color #50758d
  overflow-y auto
  min-width 250px
  flex-basis 25%
  
  & > div
    background-color #e6e6e9
    margin 10px
    padding 10px
    border-radius 5px
    
    & > label
      display block
    
    & > input
      cursor pointer
      margin-right 20px
      float left
      
    & > div
      font-size 1em
    
  & > button
    display none
    
.open-settings
  display none

