.settings
  background-color #50758d
  overflow-y auto
  min-width 250px
  flex-basis 25%
  
  & > div
    background-color #e6e6e9
    margin 10px
    padding 10px
  & > button
    display none
    
.open-settings
  display none
